
    <%- include('./header') %>
        <section class="body-font overflow-hidden">
            <div class="container px-5 py-24 mx-auto" style="background-color: rgb(232, 212, 253);padding-top: 3%;">
              <div class="-my-8 divide-y-2 divide-gray-100">
                <% for(let post of posts){ %> 
                
                  <div class="md:flex-grow" style="background-color: rgb(246 246 246); border-radius: 20px; padding: 15px; margin: auto; width: 66%; margin-top: 1%; margin-bottom: 1%;">
                    <h2 class="text-2xl font-medium  title-font mb-2"><%= post.projectname %> @<%= post.username %></h2>
                    <p class="leading-relaxed"><%= post.discription %></p>
                    <a class="text-indigo-500 inline-flex items-center mt-4" style="color: rgb(9, 152, 21);font-weight: 625;" href="<%= post.url %>">Click Here
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                    <a href="/posts/likes/<%= user._id %>/<%= post._id %>">
                      <div class="likebtn">
                          Likes: <button type="submit"><%= post.likes.length %></button>
                      </div>
                     </a>
                  </div>
                
                <%  }%>
              </div>
            </div>
        </section>
    <%- include('./footer.ejs') %>
   